*{
    margin: 0;
    box-sizing: border-box;
}

.headerDiv
{
    height: 5em;
    width: 100%;
    background-color: #256D85;
}

.title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.logo
{
    font-size: 40px;
    color: #E14D2A;
}

.title .titleName
{
    font-size: 36px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #FD841F;
}

.shopping-Cart
{
    background-image: url("./static/images/cart-shopping-solid.svg");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.carouselPanel
{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.carouselImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselImg a img
{
    height: 10em;
    height: 10em;
}

.mainContent
{
    padding: 1em;
    height: 300px;
    border: 1px solid green;
}

.titleMain
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    height: 2em;
    justify-content: center;
    width: 100%;
}

.products
{
    margin: auto;
    height: 90%;
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #256D85;
}

.item{
    flex-direction: column;
    display: flex;  /* utilizamos estas propiedades para centrar*/
    align-items: center; /*vertical*/
    justify-content: center; /*horizontal*/
    border-radius: 1em;
    border: 1px solid blue;
    height: 90%;
    width: 30%;
}

input
{
    margin: .5em; /*agregamos separación*/
    width: 50%;
    height: 1.8em;
    border: .5px solid white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: .4s;
}

input:hover
{
    background: white;
    color: #256D85;
}


img{
    border-radius: 10%;
    border: 1px solid red;
    height: 10em;
    width: 10em;
}



